{% set page_seo = seo(page_slug|default(null)) %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ page_seo ? page_seo.title : 'Welcome!' }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ page_seo ? page_seo.metaDesription : '' }}{% endblock %}">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}?v=2">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v=2">
        {% block stylesheets %}
            {{ vite_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% include('Shared/header.html.twig') %}
        
        {% block body %}{% endblock %}

        {% include('Shared/footer.html.twig') %}

        {% block javascripts %}
            {{ vite_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
