<footer class="footer">
    <div class="footer__toplevel">
        <h3 class="footer__toplevel-title">Toronto Reno Experts</h3>

        <div class="footer__toplevel-links">
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('home') }}#services">Services</a>
            <a href="{{ path('home') }}#products">Products</a>
            <a href="{{ path('home') }}#about">About</a>
            <a href="{{ path('home') }}#reviews">Reviews</a>
            <a href="{{ path('home') }}#contact">Contact</a>
            <a href="{{ path('application') }}">Get a quote</a>
        </div>
    </div>

    <div class="footer__separator"></div>

    <div class="footer__bottomlevel">
        <h3 class="footer__rights-title">© 2026 Toronto Reno Experts. All rights reserved.<h3>

        <div class="footer__bottomlevel-links">
            <a>Privacy Policy</a>
            <a>Terms of Service</a>
        </div>
    </div>
</footer>